
.leaderboard-wrapper {
    background-color: #04162C;
    height: 100%;
}


/* custom carousel css*/
.ads-side {
    flex: 1;
}

.ads-side .carousel-root {
    max-width: 33.333vw;
    height: 100%;
}

.react-multi-carousel-item img {
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.react-multi-carousel-track {
    height: 100%;
}

/*end custom carousel css*/

.players-side {
    flex: 2;
    background-color: #04162C;
    color: white;
}

.players-side h1 {
    color: white;
    margin-top: 1.7em;
    font-size: 4.7rem;
}

.players-list {
    max-width: 82%;
    height: calc(var(--row-height) * 10 + 6em);
    margin: 0 auto 12vh;
    overflow-y: hidden;
}

.players-list li {
    border-bottom: 1px solid #05E0EA;
    height: var(--row-height);
    margin-bottom: 0.6em;
}

.player-position {
    background-color: var(--dark-blue);
    height: 100%;
    width: 7%;
    padding: 0 .3em;
    font-size: 2.1rem;
    font-family: 'Barlow Condensed';
    text-align: left;
}

.player-position div:first-child {
    width: 30px;
    text-align: center;
}

.player-info {
    background-color: #00FF85;
    flex: 1;
    width: 100%;
    color: var(--dark-blue);
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
}

.player-info img{
    height: 100%;
    width: 2.5vw;
    object-fit: cover;
}

.player-name {
    font-family: 'Barlow';
    font-weight: 800;
    font-size: 1.3rem;
    margin: 0 0 0 1em;
    line-height: 2.6;
}

.player-score {
    font-family: 'Barlow Condensed';
    padding: 0 0.5em;
    font-size: 2.1rem;
    letter-spacing: 2px;
    background-color: #02904B;
    height: 100%;
    line-height: 1.5;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
}

.player-item {
    transition: all 1s ease;
}

.player-item.hidden {
    display: none;
}

.item-appear {
    opacity: 0;
}

.item-appear-active {
    opacity: 1;
    transition: all 0.5s ease-out;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: all 0.5s ease-out;
}

.item-enter-done {
    opacity: 1;
    transition: all 0.5s ease-out;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: all 0.5s ease-out;
}

h4.description{
    font-size: 2vh;
    margin: 0 0 4vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Barlow', 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

@media (max-width: 1200px) {
    .ads-side {
        display: none
    }
}

@media (max-width: 768px) {
    .players-side h1 {
        font-size: 2.6rem;
    }

    .player-name {
        font-size: 0.7rem;
        text-align: left;
        line-height: inherit;
    }

    .player-info img {
        display: none;
    }

    .player-score, .player-position {
        font-size: 1.2rem;
    }

    .players-list {
        margin: 0 auto 12vh;
    }

    .player-position div:first-child {
        width: 23px;
    }

    .player-position img {
        width: 66%;
    }

}

@media (max-width: 568px) {
    .players-side h1 {
        font-size: 2.1rem;
    }
}

@media (min-width: 1200px) and (max-width: 1366px) {
    .players-side h1 {
        margin-top: 1.3em;
        font-size: 3.4rem;
    }
}